<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Error Occurred</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Error Occurred!</h1>
		<div class="alert alert-danger" role="alert">
			<b> [<span th:text="${status}">status</span>] <span
				th:text="${error}">error</span>
			</b>
			<p th:text="${message}">message</p>
		</div>
	</div>
</body>
</html>